body{
    background: url(../img/ceu.jpg) fixed;
    background-size: cover;
}

.btn1{
    padding: 10px;
    background-color: #68b0bd;
    border: none;
    border-radius: 5px;
}

.anima-div{
    background-image: url(../img/pato.png);
    rotate: y -180deg;
    background-size: cover;
    width: 95px;
    height: 90px;
    animation: anima-sprite 1.0s steps(6) infinite;

    margin: 10vh;
}

.anima-div-2{
    background-image: url(../img/pato.png);
    background-size: cover;
    width: 95px;
    height: 90px;
    animation: anima-sprite 1.0s steps(6) infinite;

    margin: 10vh;
}

@keyframes anima-sprite{
    from{background-position: 0px;}
    to{background-position: -630px;}
}

.anima-div-3{
    background-image: url(../img/pato2.png);
    background-size: cover;
    width: 72px;
    height: 72px;
    animation: anima-sprite-2 1.0s steps(9) infinite;
}

@keyframes anima-sprite-2{
    from{background-position: 0px;}
    to{background-position: -650px;}
}

#anima-div-4{
    background-image: url(../img/nuvem.png);
    background-size: cover;
    width: 100vw;
    height: 65vh;
    animation: anima-sprite-3 2.0s steps(2) infinite;
    top: -100px;
}

@keyframes anima-sprite-3{
    from{background-position: 0px;}
    to{background-position: -200vw;}
}

